#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.employee-item.disabled {
  color: grey;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bebcbc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a2a1a1;
}

/* Media Query */
@media screen and (max-width: 850px) {
  .employeeContainer {
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }
}
